# POSTGRES
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=DB

# APP
DATABASE_URL=postgresql+psycopg://<username>:<password>@<host>:<port>/<database>
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Telegram
TELEGRAM_SESSION_NAME=session
TELEGRAM_API_ID=2345678
TELEGRAM_API_HASH=23456787654
TELEGRAM_TARGET_CHANNEL=@your_channel
